<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/guanli.css">
	<script type="text/javascript" src="guanli.js"></script>
	<title></title>
</head>
<body>
	<h2 class="h-2">消费统计</h2>
	<div class="guanli">
		<div class="guanli-top">【首页】>【消费记录】</div>
		<div class="guanli-xia-zuo">
			<img src="img/qian.jpg" class="qian"><br>
			你的累计消费额为：￥<span id="all"></span>
		</div>
		<div class="guanli-xia-you">
			<div>累计消费次数：</div>
				<div class="gxy-number" id="cishu"></div>
			<div>平均消费金额：</div>
				<div class="gxy-number" id="pinjun"></div>
			<div>我的积分余额：</div>
				<div class="gxy-number" id="jiji"></div>
			<div>注：积分可在本酒店积分商城兑换奖品</div>	
		</div>
	</div>
</body>
</html>