<!DOCTYPE html>
<html>
<head>
	<title>会员个人信息中心</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/huiyuan.css">
	<script type="text/javascript" src="jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="jquery.validate-1.13.1.js"></script>
	<script type="text/javascript" src="bootstrap.min.js"></script>
	<script type="text/javascript" src="base.js"></script>
	<script type="text/javascript" src="huiyuan.js"></script>
</head>
<body>
	<div class="ks">
	asdas
	</div>
	
	
</body>
</html>