<!DOCTYPE html>
<html lang="en">
<head>
    <title>酒店相册</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="3D Thumbnail Hover Effects" />
        <meta name="keywords" content="3d, 3dtransform, hover, effect, thumbnail, overlay, curved, folded" />
      <meta name="author" content="Codrops" />
      <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/style1.css" />
    <link rel="stylesheet" type="text/css" href="css/style2.css" />
    <script type="text/javascript" src="jquery-1.11.1.min.js" /></script>
    <script type="text/javascript" src="index.js" /></script>
</head>
<body>
<!-- 头部 -->
<header class="mhead sun">
        <div class="top">
            <div class="container Cwrap">
                <a class="logo" href="/"></a>
            </div>
            <div class="userinfo Ltar">
                <a href="javascript:;">
                    <i class="Cicon small_purpleuser"></i>我的华住
                </a>
                    <span class="split"></span>
                    <a href="denglu.html">登录</a>
                    <a href="zhucei.html">注册</a>
            </div>
        </div>
            <div class="nav">
              <div class="inner Cwrap Lposr">
                <nav class="navlinks">
                 <ul class="list-inline">
                    <li class="lise"><a href="shou.html">首页</a></li>
                    <li class="lise"><a href="reservation.html">酒店预订</a></li>
                    <li class="lise"><a href="xiangc.html">酒店相册</a></li>
                    <li class="lise"><a href="guangyu.html">关于好客汇</a></li>
                 </ul>
                </nav>
              </div>
            </div>
        </div>
</header>
    <div class="container">
    <div class="top-1"></div>
    </div>
    <!-- 创建图片区域 -->
    <div id="pic" class="main">
        <div class="pic_img">
            <div class="Picimg-back">
                <a href="#">&rarr;</a>
            </div>
            <img src="images/1.jpg" />
        </div>
        <div class="pic_img">
            <div class="Picimg-back">
                <a href="#">&rarr;</a>
            </div>
            <img src="images/2.jpg" />
        </div>
        <div class="pic_img">
            <div class="Picimg-back">
                <a href="#">&rarr;</a>
            </div>
            <img src="images/3.jpg" />
        </div>
        <div class="pic_img">
            <div class="Picimg-back">
                <a href="#">&rarr;</a>
            </div>
            <img src="images/4.jpg" />
        </div>
        <div class="pic_img">
            <div class="Picimg-back">
                <a href="#">&rarr;</a>
            </div>
            <img src="images/5.jpg" />
        </div>
        <div class="pic_img">
            <div class="Picimg-back">>
                <a href="#">&rarr;</a>
            </div>
            <img src="images/6.jpg" />
        </div>
        <div class="pic_img">
            <div class="Picimg-back">
                <a href="#">&rarr;</a>
            </div>
            <img src="images/7.jpg" />
        </div>
        <div class="pic_img">
            <div class="Picimg-back">
                <a href="#">&rarr;</a>
            </div>
            <img src="images/8.jpg" />
        </div>
        <div class="pic_img">
            <div class="Picimg-back">
                <a href="#">&rarr;</a>
            </div>
            <img src="images/9.jpg" />
        </div>
        <div class="pic_img">
            <div class="Picimg-back">
                <a href="#">&rarr;</a>
            </div>
            <img src="images/10.jpg" />
        </div>
        <div class="pic_img">
            <div class="Picimg-back">
                <a href="#">&rarr;</a>
            </div>
            <img src="images/11.jpg" />
        </div>
        <div class="pic_img">
            <div class="Picimg-back">
                <a href="#">&rarr;</a>
            </div>
            <img src="images/12.jpg" />
        </div>
        <div class="pic_img">
            <div class="Picimg-back">
                <a href="#">&rarr;</a>
            </div>
            <img src="images/13.jpg" />
        </div>
         <div class="pic_img">
            <div class="Picimg-back">
                <a href="#">&rarr;</a>
            </div>
            <img src="images/14.jpg" />
        </div>
         <div class="pic_img">
            <div class="Picimg-back">
                <a href="#">&rarr;</a>
            </div>
            <img src="images/15.jpg" />
        </div>
    </div>
        <footer class="Mfoot">
           <div class="inner Cwrap Lpb20 Lpt20">
            <div class="links Ltac">
                <a href="index3.html">关于好客汇</a>
                <a href="#">酒店招聘</a>
                <a href="#">职位招聘</a>
                <a href="#">意见反馈</a>
                <a href="#">联系我们</a>
            </div>
            <p class="copyright Ltac Lmt10">沪ICP备12041475 | ©2016 Huazhu All Rights reserved. 华住酒店管理有限公司</p>
           </div>
        </footer>
    </div>
</body>

</html>
