<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>订单详情</title>
	<link rel="stylesheet" type="text/css" href="css/member1.css">
	<script type="text/javascript" src="member1.js"></script>
</head>
<body>
	<div class="member1">
		<div class="member1-top">【首页】>【我的订单】</div>
		<div class="member1-xia">
			<table border="0" cellpadding="0" cellspacing="0" class="member1_table">
				<tbody>
					<tr>
						<th>房间类型</th>
						<th>入住时间</th>
						<th>入住天数</th>
						<th>订单金额</th>
						<th>订单退订</th>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>