<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/member2.css">
	<script type="text/javascript" src="member2.js"></script>
</head>
<body>
	<div class="member2">
		<div class="member2_top"><div class="jifen">【首页】>【积分商城】 积分余额：</div>
			<div class="jifeng"></div><br>
			【注：请凭兑奖码到酒店会员中心兑换奖品,每份仅可兑换一次】
		</div>
		<div class="member2_xia">
			<div class="shop_list">
				<div class="member2_shop">
					<img src="../img/shop/shop1.jpg"><br>
					瑞士军刀攀登者1.3<br>
					<span id="ji1">1200</span>积分<button type="button" id="bt1">兑换</button>
				</div>
				<div class="member2_shop">
					<img src="../img/shop/shop2.jpg"><br>
					上卧护颈枕L531<br>
					<span id="ji2">1500</span>积分<button type="button" id="bt2">兑换</button>
				</div>
				<div class="member2_shop">
					<img src="../img/shop/shop3.jpg"><br>
					奔腾PS5108套装<br>
					<span id="ji3">2600</span>积分<button type="button" id="bt3">兑换</button>
				</div>
				<div class="member2_shop">
					<img src="../img/shop/shop4.jpg"><br>
					快美特负离子空气净化器<br>
					<span id="ji4">6000</span>积分<button type="button" id="bt4">兑换</button>
				</div>
			</div>
			<div class="shop_list">
				<div class="member2_shop">
					<img src="../img/shop/shop5.jpg"><br>
					伊莱克斯吸尘器ZGB500<br>
					<span id="ji5">9500</span>积分<button type="button" id="bt5">兑换</button>
				</div>
				<div class="member2_shop">
					<img src="../img/shop/shop6.jpg"><br>
					哆啦A梦旅游四件套<br>
					<span id="ji6">6500</span>积分<button type="button" id="bt6">兑换</button>
				</div>
				<div class="member2_shop">
					<img src="../img/shop/shop7.jpg"><br>
					上卧夏凉被<br>
					<span id="ji7">8800积分</span><button type="button" id="bt7">兑换</button>
				</div>
				<div class="member2_shop">
					<img src="../img/shop/shop8.jpg"><br>
					欧姆龙电子计步器HJ<br>
					<span id="ji8">10000</span>积分<button type="button" id="bt8">兑换</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>