<!DOCTYPE html>
<html>
<head>
	<title>会员个人信息页面</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/member.css">
	<script type="text/javascript" src="jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="jquery.validate-1.13.1.js"></script>
	<script type="text/javascript" src="bootstrap.min.js"></script>
	<script type="text/javascript" src="base.js"></script>
	<script type="text/javascript" src="member.js"></script>
</head>
<body>	
	<!-- 顶部宣传区： -->
	<div class="container">
	<nav class="first">
		<ul>
			<li><img src="img/TukeLogoS.jpg"></li>
			<li id=jiudian3></li>
		</ul>
		<img src="img/tel.jpg" class="tel">
	</nav>
	</div>
	<!-- 紫色导航区 -->
	<nav class="navbar" role="navigation">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">华住酒店会员个人信息中心</a>
	    </div>

	    <!-- 导航区域： -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        <li class="navbar-brand">
	        	<span class="glyphicon glyphicon-user"></span>Hi,欢迎回来
	        </li>
	        <li id="close" class="navbar-brand" type="button"><span class="glyphicon glyphicon-off"></span>退出</li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<!-- 下部分左边导航区 -->
	<div></div>
	<div class="content">
		<div id="sidbar" class="pull-left">
		<p class="dao">华住集团欢迎您！</p>
			<div class="top-member">
				<img alt="" class="img-member" src="img/tubiao.png">
			</div>
			<ul class="list-group">
			   <li class="list-group-item">
			  	<a href="member0.html" title="">
			  		<span class="glyphicon glyphicon-user"></span>个人信息
			  	</a>
			  </li>
			  <li class="list-group-item">
			  	<a href="guanli.html" title="">
			  		<span class="glyphicon glyphicon-usd"></span>累计消费
			  	</a>
			  </li>
			  
			  <li class="list-group-item">
			  	<a href="member1.html" title="">
			  		<span class="glyphicon glyphicon-shopping-cart"></span>订单查看
			  	</a>
			  </li>
			 
			  <li class="list-group-item">
			  	<a href="member2.html" title="">
			  		<span class="glyphicon glyphicon-calendar"></span>积分兑换
			  	</a>
			  </li>
			  <li class="list-group-item">
			  	<a href="" title="" id="ca">
			  		<span class="glyphicon glyphicon-off"></span>返回主页
			  	</a>
			  </li>
			</ul>
		</div>
		<!-- 主页中心 -->
		<div id="cont-f">
		</div>
	</div>
</body>