<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="css/new.css">
	<script src="new.js" type="text/javascript"></script>
</head>
<body>
	<button type="button" class="btn btn_color" disable>新增管理员</button>
	<div class = border>
		
	</div>
	<div class = 'row login'>
		<form class="form-horizontal" role="form" id = "myform">
			<div class = "col-xs-8">
			
  				<div class="form-group">
    			<label for="nickname" class="col-xs-2 col-xs-offset-2 control-label">昵称</label>
    			<div class="col-sm-5 col-lg-4 col-xs-6">
      				<input type="text" class="form-control" id="nickname" name = "nickname" >
    			</div>
  				</div>
  				<div class="form-group">
    			<label for="username" class="col-xs-2 col-xs-offset-2 control-label">用户名</label>
    			<div class="col-sm-5 col-lg-4 col-xs-6">
      				<input type="text" class="form-control" id="username" name = "username" >
      				<span class='dip1'>该用户名已存在，请修改</span>
    			</div>
  				</div>
  				<div class="form-group">
    			<label for="pwd" class="col-xs-2 col-xs-offset-2  control-label">密码</label>
    			<div class="col-sm-5 col-lg-4 col-xs-6">
      				<input type="password" class="form-control" name = "pwd" id="pwd">
    			</div>
  				</div>
  				<div class="form-group">
    			<label for="spwd" class="col-xs-2 col-xs-offset-2  control-label">确认密码</label>
    			<div class="col-sm-5 col-lg-4 col-xs-6">
      				<input type="password" class="form-control" name = "spwd" id="spwd">
    			</div>
  				</div>
  				<div class="form-group">
    			<label for="tel" class="col-xs-2 col-xs-offset-2  control-label">手机号</label>
    			<div class="col-sm-5 col-lg-4 col-xs-6">
      				<input type="tel" class="form-control" id="tel" name = "tel"><span class='dip'>该手机号已注册</span>
    			</div>
  				</div>
  				<div class="form-group">
    			<label for="file" class="col-xs-2 col-xs-offset-2  control-label">上传头像</label>
    			<div class="col-sm-5 col-lg-4 col-xs-6">
      				<input type="file" name="img" value="" placeholder="" id = "file">
    			</div>
  				</div>
  				<div class="form-group">
    			<div class="col-xs-offset-5  col-sm-5 col-lg-4 col-xs-6">
     				 <button type="submit" class="btn btn-info" id = "login_m" >注册</button>
    			</div>
  				</div>
  			</div>
  			<img src="" alt="" id = "simg">
		</form>
		<div class = "fish">
		O(∩_∩)O~新增成功
		</div>
	</div>
</body>
</html>