<!DOCTYPE html>
<html>
<head>
	<title>注册页面</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/zhucei.css">
	<script type="text/javascript" src="jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="jquery.validate-1.13.1.js"></script>
	<script type="text/javascript" src="bootstrap.min.js"></script>
	<script type="text/javascript" src="base.js"></script>
	<script type="text/javascript" src="zhucei.js"></script>
</head>
<body>
	<div id="box">
			<form id="biao" autocomplete = "off">
				<div class="box2">
					<div class="box1">
						<input type="number" name="tel" id="usename" placeholder="请输入注册手机号码" >
					</div>

					<div class="box1">
						<input type="text" name="relname"  id="relname" placeholder="请输入您的真实姓名">
					</div>
					
					<div class="box1">
						<input type="number" name="psd" id="psd" placeholder="请输入您的身份证号码">
					</div>

					<div class="box1">
						<input type="password" name="pwd" id="pwd" placeholder="请设置用户密码" autocomplete="off">
					</div>
					<div class="box1">
						<input type="password" name="dpwd" id="dpwd" placeholder="请再次输入密码" autocomplete="off">
					</div>

					<div class="box1">
						<input type="text" name="yanzheng" id="yanzheng" placeholder="请输入验证码"><div id="yanzhengma"></div>
					</div>

					<div class="box1">
						<button type="submit" value="" id="btn">立即注册</button> 
					</div>
					
				</div>
			</form>
	</div>
</body>
</html>