html{
	width: 100%;
	margin:0;
	padding: 0;
}
*{
	margin:0;
	padding: 0;
}
body{
	font-family: "微软雅黑", Helvetica, Arial, sans-serif;
	font-size: 12px;
	float: left;
	min-width: 100%;
	
}
ul{
	list-style: none;
}
div {
    display: block;
    
}
a{
    cursor: pointer;
    text-decoration: none;
}
a:hover{
	  text-decoration: none;
}
.Mheadindex .userinfo a:hover{
	text-decoration: none;
	color: #333;
}
li{
	list-style: none;
}
header{
	display: block;
}
label{
	display: block;
}
.top{
	padding-top: 40px;
}
.Cwrap{
	max-width: 100%;
	min-width: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	
}
.Ltac{
	text-align: center;
}
.Lposa{
	    position: absolute;
	}
.Ldib {
    display: inline-block;
}
.Lposr {
    position: relative;
}
.Ldn{
	display: none;
}
.Lposa{
	    position: absolute;
	    width: 100%;
}
.Ltar{
	float: right;
}